extends layout

block content
  h1= title
  p Welcome to #{title}
    <div id="title" align="center" style="font-size:50px; margin:10px"><b>全部入りメニュー</b></div>
    <div id="menuu" style="width:98%; height:180px; overflow:hidden; float:left; border-style:solid; border-width: 1px 0px 1px 1px">
    <div id="az">
    <div class="midashi">
    h3 A-Z
    <ul id="a-z"></ul>
    </div>
    <div class="left"></div>
    <div class="right"></div>
    </div>

    <div style="clear:both"></div>
    <div id="a">
    <div class="midashi">
    h3 あ
    </div>
    <div class="left"></div>
    <div class="right"></div>
    </div>

    <div style="clear:both"></div>
    <div id="k">
    <div class="midashi">
    h3 か
    </div>
    <div class="left"></div>
    <div class="right"></div>
    </div>

    <div style="clear:both"></div>
    <div id="s">
    <div class="midashi">
    h3 さ
    </div>
    <div class="left"></div>
    <div class="right"></div>
    </div>
            
    <div style="clear:both"></div>
    <div id="t">
    <div class="midashi">
    h3 た
    </div>
    <div class="left"></div>
    <div class="right"></div>
    </div>

    <div style="clear:both"></div>
    <div id="n">
    <div class="midashi">
    h3 な
    </div>
    <div class="left"></div>
    <div class="right"></div>
    </div>

    <div style="clear:both"></div>
    <div id="h">
    <div class="midashi">
    h3 は
    </div>
    <div class="left"></div>
    <div class="right"></div>
    </div>

    <div style="clear:both"></div>
    <div id="m">
    <div class="midashi">
    h3 ま
    </div>
    <div class="left"></div>
    <div class="right"></div>
    </div>

    <div style="clear:both"></div>
    <div id="y">
    <div class="midashi">
    h3 や
    </div>
    <div class="left"></div>
    <div class="right"></div>
    </div>
    
    
    <div style="clear:both"></div>
    <div id="r">
    <div class="midashi">
    h3 ら
    </div>
    <div class="left"></div>
    <div class="right"></div>
    </div>
    
    <div style="clear:both"></div>
    <div id="w">
    <div class="midashi">
    h3 わ
    </div>
    <div class="left"></div>
    <div class="right"></div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    </div>
        
    <div id="barr" style="width:15px; height:180px; overflow:auto; float:left; border-width: 1px"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

    <div id="nakami" style="width:98%; height:350px; border-style:solid; float:left; border-width: 1px; padding:0px 5px 0px 5px; margin: 5px auto 0px auto; overflow:auto">
    中身<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    <div style="clear:both">
    </div>
