extends layout

block content
  div(id="title", align="center", style="font-size:50px; margin:10px")
    b 全部入りメニュー
  div(id="menuu", style="width:98%; height:180px; overflow:hidden; float:left; border-style:solid; border-width: 1px 0px 1px 1px")
    div#az
      div.midashi
        h3 A-Z
        ul#a-z
      div.left
      div.right

    div(style="clear:both")
    div#a
      div.midashi
        h3 あ
      div.left
      div.right

    div(style="clear:both")
    div#k
      div.midashi
        h3 か
      div.left
      div.right

    div(style="clear:both")
    div#s
      div.midashi
        h3 さ
      div.left
      div.right
            
    div(style="clear:both")
    div#t
      div.midashi
        h3 た
      div.left
      div.right

    div(style="clear:both")
    div#n
      div.midashi
        h3 な
      div.left
      div.right

    div(style="clear:both")
    div#h
      div.midashi
        h3 は
      div class="left"
      div class="right"

    div(style="clear:both")
    div#m
      div.midashi
        h3 ま
      div.left
      div.right

    div(style="clear:both")
    div#y
      div.midashi
        h3 や
      div.left
      div.right
    
    div(style="clear:both")
    div#r
      div.midashi
        h3 ら
      div.left
      div.right
   
    div(style="clear:both")
    div#w
      div.midashi
        h3 わ
      div.left
      div.right
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
        
  <div id="barr" style="width:15px; height:180px; overflow:auto; float:left; border-width: 1px">
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>

  <div id="nakami" style="width:98%; height:350px; border-style:solid; float:left; border-width: 1px; padding:0px 5px 0px 5px; margin: 5px auto 0px auto; overflow:auto">
  中身<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
  div(style="clear:both")