extends layout

block content
  div(id="title", align="center", style="font-size:50px; margin:10px")
    b 全部入りメニュー
  <div id="menuu" style="width:98%; height:180px; overflow:hidden; float:left; border-style:solid; border-width: 1px 0px 1px 1px">
  <div id="az">
  div.midashi
    h3 A-Z
    ul#a-z
  div.left
  div.right
  </div>

  <div style="clear:both"></div>
  <div id="a">
  div.midashi
    h3 あ
  div.left
  div.right
  </div>

  <div style="clear:both"></div>
  <div id="k">
  div.midashi
    h3 か
  div.left
  div.right
  </div>

  <div style="clear:both"></div>
  <div id="s">
  div.midashi
    h3 さ
  div.left
  div.right
  </div>
            
  <div style="clear:both"></div>
  <div id="t">
  div.midashi
    h3 た
  div.left
  div.right
  </div>

  <div style="clear:both"></div>
  <div id="n">
  div.midashi
    h3 な
  div.left
  div.right
  </div>

  <div style="clear:both"></div>
  <div id="h">
  div.midashi
    h3 は
  div class="left"
  div class="right"
  </div>

  <div style="clear:both"></div>
  <div id="m">
  div.midashi
    h3 ま
  div class="left"
  div class="right"
  </div>

  <div style="clear:both"></div>
  <div id="y">
  div.midashi
    h3 や
  div class="left"
  div class="right"
  </div>
    
  <div style="clear:both"></div>
  <div id="r">
  div.midashi
    h3 ら
  div class="left"
  div class="right"
  </div>
   
  <div style="clear:both"></div>
  <div id="w">
  div.midashi
    h3 わ
  div class="left"
  div class="right"
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
  </div>
        
  <div id="barr" style="width:15px; height:180px; overflow:auto; float:left; border-width: 1px">
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>

  <div id="nakami" style="width:98%; height:350px; border-style:solid; float:left; border-width: 1px; padding:0px 5px 0px 5px; margin: 5px auto 0px auto; overflow:auto">
  中身<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
  div(style="clear:both")